@media screen and (max-width: 1100px) {
    .feedback .slick-arrow {
        display: none !important;
    }
    .header__navbar {
        width: 100%;
        height: 105vh;
        overflow-y: auto;
        background-color: rgba(0,0,0,0.8);
        position: fixed;
        top: 0;
        left: -100%;
        z-index: 99;
        opacity: 0;
        flex-direction: column;
        align-items: flex-start;
        padding: 32px;
        padding-top: 50px;
        transition: all.5s ease;
    }
    .header__navbar li {
        margin-left: 0;
        margin-bottom: 32px;
        margin-bottom: 50px;
        opacity: 0;
        transform: translateX(-10px);
        transition: all.7s ease;
        transition-delay: 0.3s;
    }
    .header__navbar li:nth-child(2) {
        transition-delay: 0.6s;
    }
    .header__navbar li:nth-child(3) {
        transition-delay: 0.9s;
    }
    .header__navbar li:nth-child(4) {
        transition-delay: 1.2s;
    }
    .header__navbar li:nth-child(5) {
        transition-delay: 1.5s;
    }
    .header__navbar li:nth-child(6) {
        transition-delay: 1.8s;
    }
    .header__navbar li a {
        font-weight: bold;
        font-size: 24px;
        line-height: 32px;
        color: #fff;
    }
    .header__navbar.active {
        opacity: 1;
        left: 0;
    }
    .header__navbar.active li {
        opacity: 1;
        transform: translateX(0);
    }
    .header__insta {
        margin-left: auto;
    }
    .banner__box {
        flex-direction: column;
        justify-content: flex-start;
        align-items: center;
    }
    .banner__right {
        display: none;
    }
    .banner__left {
        margin-right: 0;
        order: 1;
        margin-top: 32px;
    }
    .banner {
        align-items: flex-start;
    }
    .advantages__box {
        flex-direction: column;
    }
    .advantages__block {
        max-width: 300px;
        margin: 0 auto;
        width: 100%;
        margin-bottom: 32px;
    }
    .video__box {
        width: 100%;
        height: 400px;
    }
    .video__block {
        padding-top: 120px;
    }
    .table__box {
        flex-direction: column;
    }
    .table__bank {
        max-width: 200px;
        max-height: 200px;
        margin: 0 auto;
    }
    .table__bank img {
        width: 30%;
    }
    .table__text {
        width: 100%;
        margin-left: 0;
        margin-top: 32px;
    }
    .table__text .table__box {
        flex-direction: row;
    }
    .table__block p {
        width: 100%;
    }
    .table__bottom_text {
        width: 100%;
        margin-bottom: 32px;
    }
    .table__bottom_img {
        margin: 0 auto;
    }
    .container__box .wrapper {
        flex-direction: column;
        padding: 32px;
    }
    .container__box img.shine, .container__img {
        display: none;
    }
    .container__center {
        width: 100%;
    }
    .container__right {
        width: 100%;
        margin-left: 0;
    }
    section h2 {
        font-size: 28px;
        line-height: 36px;
    }
    .footer__bottom {
        flex-direction: column;
    }
    .footer__right {
        margin-left: 0;
        margin-top: 32px;
    }
    .header__box {
        flex-direction: column;
    }
    .header .header__box {
        flex-direction: row;
    }
    .header__logo {
        margin: 0 auto;
        margin-bottom: 32px;
    }
    .header .header__logo {
        margin: 0;
        margin-bottom: 0;
    }
    .header__insta {
        margin-left: 0;
        margin-right: 0;
        margin-bottom: 32px;
    }
    .header .header__insta {
        margin-bottom: 0;
        margin-left: auto;
    }
    .header .header__phone {
        display: none;
    }
    .footer__bottom p.left {
        width: 100%;
    }
    .slider_text {
        width: 100%;
        margin-right: 0;
    }
    .burgir {
        display: block;
    }
}
@media screen and (max-width: 900px) {
    .video__box .back {
        width: auto;
        height: 100%;
        filter: brightness(50%)
    }
    .table__text .table__box {
        flex-direction: column;
    }
    .table__text .table__box a {
        margin-left: 0;
        margin-top: 32px;
    }
    .table__bottom_img, .table__bottom_img img {
        width: 100%;
    }
    .feedback__box {
        padding: 32px;
    }
    .feedback__box {
        flex-direction: column;
    }
    .slider_img {
        min-width: 100%;
        order: -1;
        margin-bottom: 32px;
    }
    .feedback__slider {
        padding: 0;
    }
}